<app-menu></app-menu>
<div
  class="table d-flex justify-content-center"
  style="color: rgb(6, 6, 66); font-size: 50px"
>
  Mis movimientos
</div>
<div class="container" *ngIf="history.length != 0; else historyEmpty">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>

        <th scope="col">Tipo de operacion</th>
        <th scope="col">Monto</th>
        <th scope="col">Saldo</th>
        <th scope="col">Fecha y hora de inicio</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="
          let h of history | slice: (page - 1) * pageSize:page * pageSize;
          index as i
        "
      >
        <td>
          <h3>{{ i + 1 }}</h3>
        </td>
        <td>{{ h?.typeTransaction }}</td>
        <td *ngIf="h?.typeTransaction == 'Consumo'; else tdcarga">
          -${{ h?.amount }}
        </td>
        <ng-template #tdcarga>
          <td #tdcarga>+ ${{ h?.amount }}</td>
        </ng-template>
        <td>${{ h?.currentAccount?.balance }}</td>
        <td>{{ h?.dateTransaction }}</td>
      </tr>
    </tbody>

    <ngb-pagination
      [(page)]="page"
      [pageSize]="pageSize"
      [collectionSize]="history.length"
    >
    </ngb-pagination>
  </table>
</div>
<ng-template #historyEmpty>
  <div class="containerVacio">
    <h1>Historial vacio</h1>
    <p>Actualmente no posee movimientos en su cuenta.</p>
    <button
      class="btn btn-primary mt-3"
      [routerLink]="['/myAccount']"
      routerLinkActive="router-link-active"
    >
      Volver
    </button>
  </div>
</ng-template>
